body {
  font-family: Palatino;
}

.container {
  flex-wrap: wrap;
}

h1 {
  color: #666;
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-item {
  margin-right: 1.8rem;
}
